# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

# Local environment variables
.env

# Python cache and bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.venv-py39-backup/

# macOS metadata
.DS_Store
